.common--bg{
    background: linear-gradient(270deg, #4363c2 6%, #1e3169 97%) !important;
}
.sub-menu-bg{
    background: linear-gradient(270deg, #4363c2 0%, #1e3169 0%) !important;
}
.menu--bg{
    background: linear-gradient(270deg, #4363c2 0%, #1e3169 0%) !important;
    border-radius: 0;
}
.header {
    background: linear-gradient(270deg, #4363c2 6%, #1e3169 97%) !important;
    padding: 0;
    position: sticky;
    top: 0px;
    z-index: 999;
}

@media(max-width:767px) {
    .header {
        background: transparent !important;
        padding: 0px !important;
        position: relative;
    }

    .header--base {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 10px;
        padding: 0px !important;
    }

    .logo--header {
        width: 100%;
        background: #786BD2;
        padding: 10px;
    }

    .user--login * {
        color: #2F2F38 !important;
        text-align: left !important;
    }

    .user--login {
        padding: 10px;
        width: 100%;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .background-image-changer {
        padding-top: 25px !important;
    }
}