.btn-file {
	overflow: hidden;
	input[type=file] {
		position: absolute;
		top: 0;
		right: 0;
		filter: alpha(opacity=0);
		cursor: pointer;
		overflow: hidden;
		font-size: 24px;
		opacity: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
	}
}
span {
	&.btn {
		&.btn-primary {
			&.btn-file {
				color: #fff;
				background-color: #2a4dd0;
				border-color: #2a4dd0;
				padding: 0.7rem 3rem;
				z-index: 5;
				width: 100%;
				position: relative;
				cursor: pointer;
			}
		}
	}
}


.movies--add--form input, .movies--add--form select, .movies--add--form textarea {
    min-height: 40px;
    border-radius: 4px;
    padding: 10px 15px;

    @media (max-width: 580px){
        min-height: 20px;
    }
}

.movies--add--form input, .movies--add--form select, .movies--add--form textarea{
    border: 1px solid #e5e7eb !important;
}

.movies--add--form {
    .container--addmovie {
        display: flex;
        gap: 20px;
        font-size: 15px;

        @media (max-width: 1024px){
            flex-direction: column;
        }

        .movie-info-add {
            width: 60%;
            display: flex;
            gap: 15px;
            padding: 20px 25px;
            border: 1px solid #f3f3f3;
            border-radius: 0;
            background: #f9f9f9;

            
            @media (max-width: 1024px){
                width: 100%;
            }

            .banner--add {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;

                @media (max-width: 580px){
                    flex-direction: column;
                }

                label {
                    // width: 100%;
                    display: flex;
                    align-items: center;
                    flex-direction: row-reverse;
                    gap: 10px;
                    justify-content: flex-end;

                    input{
                        min-height: 20px;
                    }
                }
            }

            .form--data {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 15px;

                @media (max-width: 1200px){
                    grid-template-columns: repeat(1, 1fr);
                }
            }
        }

        .casting-info-add {
            width: 40%;

            @media (max-width: 1024px){
                width: 100%;

                > div{
                    position: relative;
                    padding-bottom: 0;
                }
            }

            .casting--item {background: #f3f4f6;}
        }
    }
}

.casting--list--container {
    .casting--item{
        &:first-child {
            .remove--item {
                display: none;
            }
        }
    }
}